:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --color-background: var(--vt-c-white);
  --color: var(--vt-c-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color: var(--vt-c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color);
  background: var(--color-background);
  line-height: 1.6;
  font-family: sans-serif;
}
